/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

/* Reset finish */

/* Common start */
img {
    display: block;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Common finish */

/* Header start  */

.header {}

.container.header-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}

.container {}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 26px 0;
    margin-right: 237px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
}

.header-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 71px;
}

.header-nav-item {}

.header-nav-link {
    display: flex;
    justify-content: center;
    padding: 26px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
}

.header-nav-link.current {
    font-weight: 600;
}

.header-button-sing-in {
    padding: 9px 24px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
}

.header-button {
    display: flex;
    gap: 21px;
    margin-left: auto;
}

.header-button-sing-up {
    padding: 9px 24px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 113px;
    background: #02897a;
}

/* Header finish  */

/* Hero start */
.hero {}

.container {}

.container.hero-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    max-width: 452px;
    margin-bottom: 18px;
}

.hero-text {
    font-size: 18px;
    line-height: 1.56;
    width: 465px;
    margin-bottom: 45px;
    margin-right: 35px;
}

.hero-baner {
    margin-right: 0;
    margin-bottom: 96px;
}

.hero-wrap-btlink {
    display: flex;
    align-items: center;
}

.hero-link {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
}

.icon-play {
    margin-right: 8px;
    fill: #02897a;
}

.button-type {
    border-radius: 4px;
    width: 178px;
    background: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    padding: 14px 0;
}

.hero-img {
    display: inline-block;
}


/* Hero finish */

/* Product start */
.product {
    padding-bottom: 50px;
}

.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    max-width: 539px;
    padding: 0 20px;
    margin: 0 auto 50px;
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 50px;
   
}

.product-item {
    width: 255px;
    padding: 0;
    margin: 0;
}

.image-wrap {
    width: 54px;
    height: 54px;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cursor {
    background-color: #02897a;
}

.line {
    background-color: #4d8dff;
}

.heart {
    background-color: #740a76;
}

.clock {
    background-color: #f03e3d;
}

.icon-product {
    fill: #fff;

}

.product-list-title {
    margin-top: 18px;
    margin-bottom: 13px;
}

.button-type.product-button {
    display: block;
    margin: 0 auto 
}

.product-wrap {}

.product-list-text {}

/* Product finish */

/* Managment start */
.manag,
.collab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.management {
    padding-bottom: 100px;
}

.container {}

.manag-title,
.collaboration-title {
    font-weight: 700;
    font-size: 32px;
}

.manag-list,
.collaboration-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 486px;
}

.manag-item {}

.manag-text {}

.manag-list-title,
.collaboration-list-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 12px;
}

.manag-img {}

/* Managment finish */

/* Support start */
.supp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support {
    padding-bottom: 100px;
}

.container {}

.support-img {}

.support-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;gap: 25px;
    max-width: 455px;
}

.support-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    max-width: 304px;
}
.support-wrap-title {
    font-weight: 700;
    font-size: 32px;
}
.support-text {
    max-width: 437px;
}
.support-item .support-text {
    max-width: 385px;
}

.support-list {
  
}

.support-item {
    display: flex;
    justify-content: center ;
    align-items:center ;
    gap: 25px;margin-bottom: 25px;

}

.tick {
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    background-color:  #f90;
}

.icon-tick {
    fill: #fff;
}

.brown {
    background-color:  #f03e3d;
}

.blue {
    background-color: #4d8dff;}

/* Staff start */

.staff {
    padding-top:150px ;
    padding-bottom: 100px;
}

.container {}

.staff-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;
}

/* .staff-list-wrap {
    display: flex;
    flex-wrap: wrap;
} */

.staff-text {
    margin-bottom: 40px;
}

.staff-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 25px 100px;
    padding: 0 73px;
}


.staff-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 408px;
    height: 98px;
}

.staff-item-text-wrap {
    border-radius: 25px;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    width: 281px;
    height: 50px;
}
.staff-item-text {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 12px 20px;
}

.staff-item-photo {}

.button-type {}

.staff-buttom {
    min-width: 216px;
    min-height: 53px;
    margin: 0 auto;
    display: block;
}
 
/* Staff finish */

/* News Feed start*/

.mews-feed {
    padding-bottom: 171px;
}

.container {}

.feed-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 10px;
}

.feed-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    margin-bottom: 40px;
    max-width: 465px;
}

.feed-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.feed-item {
    border: 1px solid #dedede;
    border-radius: 8px;
    min-width: 350px;
    min-height: 359p;
    padding-bottom: 40px;
}

.feed-item-img {
    margin-bottom: 24px;
}

.feed-item-text {
    font-size: 16px;
    line-height: 1.75;
    padding-left: 24px;
    margin-bottom: 12px;

}

.feed-item-text-span {
    font-weight: 700;
}

.feed-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    width: 100%;
    padding: 0 27px;
}

/* News Feed finish */

/* Pricing srart */

.pricing {
    padding-bottom: 100px;
}

.container {}

.pricing-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 10px;
    text-align: center;
}

.pricing-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
    text-align: center;
    margin-bottom: 16px;
}

.pricing-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.pricing-item {
    border-radius: 8px;
    min-width: 322px;
    min-height: 456px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    /* background-color: #fff; */
    padding: 32px 0;
}

.pricing-rate {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    text-align: center;
    margin-bottom: 8px;
}

.price {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
    margin-bottom: 16px;
}

.price-wrap {}

.price-sign {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
}

.price-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.coast-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.pricing-list-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}

.point-item {}

.point-item-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.01em;
    color: #22343d;
}

.pricing-list-btn {
    border-radius: 8px;
    width: 139px;
    background-color: #02897a;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 11px 18px;
}
.center {
    color: #02897a;
    background-color: #fff;
}

.center-item {
    background-color: #02897a;;
}
.center-card {
    color: #fff;
}

/* Pricing finish */

/* Feedback start */

.feedback {
    padding-bottom: 100px;
}

.container {}

.fback-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 10px;
}

.fback-text {
    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    margin:0 auto 40px auto;
    max-width: 537px;
}

.fback-list {
    display: flex;
    gap: 64px;
}

.fback-item {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 30px 35px;
    min-width: 327px;
    padding: 26px;

}

.fback-list-icon {
    display: flex;
    margin-bottom: 16px;
}

.fback-icon {
    fill: #f3cd03;
}

.fback-list-text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
    margin-bottom: 16px;

}

.fback-img-wrap {
    display: flex;
    gap: 16px;
}

.fback-img-wrap-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.fback-img-wrap-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
}

/* Feedback finish */

/* Promo start */

.promo {
    padding-bottom: 100px;
}

.container.promo-wrap-container { 
    padding: 0 90px;
}

.promo-container {
    max-width: 968px;
    border-radius: 32px;
    background-color: #02897a;
    display: flex;
    gap: 10px;
    padding: 4px 46px 10px 51px;
}

.promo-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    color: #fff;
    max-width: 510px;
    margin-top: 49px;
    margin-bottom: 46px;
}

.promo-btn {
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background-color: #fff;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
}